@inherits LocalizedLayoutComponentBase

@using Toolbelt.Blazor.HeadElement

<Title>@Title</Title>

<div class="c-preloader  js-preloader">
	<div class="c-preloader__spinner  t-preloader__spinner"></div>
</div>

<div class="c-main-container  js-main-container">

	<div class="culture-switcher">
		<CultureSwitcher />
	</div>

	@Body

</div>
