@* Произвольный контакт, не имеющий связанного действия. *@

<Contact>
	<h4>@Title</h4>
	<p>@Description</p>
</Contact>

@code {
	/// <summary>
	/// Название контакта.
	/// </summary>
	[Parameter, EditorRequired]
	public required string Title { get; set; }

	/// <summary>
	/// Детальное описание контакта.
	/// </summary>
	[Parameter, EditorRequired]
	public required string Description { get; set; }
}
