@* Переключатель языка выводимой информации. *@

@inherits Localization.Components.CultureSwitcherBase

<PageTitle>@_title</PageTitle>

<button title="@localizer["SwitchLanguage"]"
		@onclick="@ChangeCulture">
	<span class="fas fa-lg fa-language" /> @NewCulture.NativeName
</button>
