@* Переключатель языка выводимой информации. *@

@inherits Localization.Components.CultureSwitcherBase

<PageTitle>@_title</PageTitle>

<a href="javascript:"
   title="@Localizer["SwitchLanguage"]"
   @onclick="@ChangeCulture"
   @onclick:preventDefault>
	<span class="fas fa-lg fa-language" /> @NewCulture.NativeName
</a>
