@* Произвольный контакт со связанным действием в виде гиперссылки. *@

<Contact>
	<a href="@Hyperlink"
	target="_blank"
	class="t-link-container">
		<h4>@Title</h4>
		<p>
			<address class="t-link-container__item--blended">
				@Description
			</address>
		</p>
	</a>
</Contact>

@code {
	/// <summary>
	/// Название контакта.
	/// </summary>
	[Parameter]
	public string Title { get; set; } = string.Empty;

	/// <summary>
	/// Детальное описание контакта.
	/// </summary>
	[Parameter]
	public string Description { get; set; } = string.Empty;

	/// <summary>
	/// Гиперссылка контакта. Поддерживается любой тип специализированных ссылок,
	/// таких как "mailto:", "tel:" и т.п.
	/// </summary>
	[Parameter]
	public Uri Hyperlink { get; set; } = new Uri(string.Empty, UriKind.Relative);
}
