@* Элемент портфолио выполненных работ. *@

<div class="o-grid__col-sm-6">
	<a class="c-image-overlay  t-image-overlay"
	   href="@Uri"
	   title="@Title"
	   target="_blank">
		<img src="@ImageUri"
			 alt="@Title">
		<div class="c-image-overlay__content">
			<h3>
				@Title
			</h3>
			<hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />
			<p>
				@Description
			</p>
		</div>
	</a>
</div>

@code {
	/// <summary>
	/// Адрес работы.
	/// </summary>
	[Parameter, EditorRequired]
	public required Uri Uri { get; set; }

	/// <summary>
	/// Адрес картинки для предпросмотра.
	/// </summary>
	[Parameter, EditorRequired]
	public required Uri ImageUri { get; set; }

	/// <summary>
	/// Название работы.
	/// </summary>
	[Parameter, EditorRequired]
	public required string Title { get; set; }

	/// <summary>
	/// Детальное описание работы.
	/// </summary>
	[Parameter, EditorRequired]
	public required string Description { get; set; }
}
