@* Профессиональный профиль. *@

<div class="o-grid__col-xl-4  o-grid__col-sm-6">
	<div class="o-content">
		<a href="@Uri"
		   target="_blank"
		   class="t-link-container">
			<div class="o-media  o-media--block">
				<div class="o-media__figure">
					<svg class="c-profile__icon">
						<use href="/images/icons/@(IconName).svg"></use>
					</svg>
				</div>
				<div class="o-media__body  o-content__body">
					<h3 class="t-link-container__item">
						@Title
					</h3>
					<p>
						@Description
					</p>
				</div>
			</div>
		</a>
	</div>
</div>

@code {
	/// <summary>
	/// Ссылка на профиль.
	/// </summary>
	[Parameter, EditorRequired]
	public required Uri Uri { get; set; }

	/// <summary>
	/// Имя файла SVG (без расширения файла), используемого для визуализации элемента.
	/// Файл должен находиться в папке "wwwroot/images/icons" приложения.
	/// </summary>
	[Parameter, EditorRequired]
	public required string IconName { get; set; }

	/// <summary>
	/// Название профиля.
	/// </summary>
	[Parameter, EditorRequired]
	public required string Title { get; set; }

	/// <summary>
	/// детальное описание профиля.
	/// </summary>
	[Parameter, EditorRequired]
	public required string Description { get; set; }
}
