@* Контейнер для представления отдельной секции резюме. *@

<section class="o-section  t-section @AdditionalClasses">

	<div class="o-section__header-bg  t-section__header"></div>
	<div class="o-section__content-bg  t-section__content"></div>

	<div class="o-container">
		<div class="o-section__container">

			@HeaderFragment

			@ContentFragment

		</div>

	</div>

</section>

@code {
	/// <summary>
	/// Заголовок секции.
	/// </summary>
	[Parameter, EditorRequired]
	public required RenderFragment HeaderFragment { get; set; }

	/// <summary>
	/// Содержимое секции.
	/// </summary>
	[Parameter, EditorRequired]
	public required RenderFragment ContentFragment { get; set; }

	/// <summary>
	/// Дополнительные классы CSS для оформления секции.
	/// </summary>
	[Parameter]
	public string? AdditionalClasses { get; set; }
}
