@* Кнопка, ссылающаяся на профиль социальной сети. *@

<li class="@ItemClass">
	<a href="@Uri"
	   target="_blank"
	   class="c-social-button  t-social-button">
		<svg class="c-social-button__icon">
			<use href="/images/icons/@(IconName).svg"></use>
		</svg>
	</a>
</li>

@code {
	/// <summary>
	/// Ссылка на профиль социальной сети.
	/// </summary>
	[Parameter, EditorRequired]
	public required Uri Uri { get; set; }

	/// <summary>
	/// Имя файла SVG (без расширения файла), используемого для визуализации элемента.
	/// Файл должен находиться в папке "wwwroot/images/icons" приложения.
	/// </summary>
	[Parameter, EditorRequired]
	public required string IconName { get; set; }

	/// <summary>
	/// Класс CSS, описывающий конкретную кнопку.
	/// </summary>
	[CascadingParameter, EditorRequired]
	public required string ItemClass { get; set; }
}
