<div class="o-grid">

	<ArbitraryContact Title="Location"
					  Description="Portland, OR" />

	<HyperlinkContact Title="Phone"
					  Description="534.456.886"
					  Hyperlink="tel:534.456.886" />

	<HyperlinkContact Title="Web"
					  Description="ruventhemes.com"
					  Hyperlink="https://ruventhemes.com" />

	<HyperlinkContact Title="Email"
					  Description="hello@example.com"
					  Hyperlink="mailto:hello@example.com" />

</div>
