<div class="o-grid">

	<Contact>
		<h4>Location</h4>
		<p>
			Portland, OR
		</p>
	</Contact>

	<Contact>
		<a href="tel:534.456.886"
		   target="_blank"
		   class="t-link-container">
			<h4>Phone</h4>
			<p>
				<span class="t-link-container__item--blended">
					534.456.886
				</span>
			</p>
		</a>
	</Contact>

	<Contact>
		<a href="https://ruventhemes.com"
		   target="_blank"
		   class="t-link-container">
			<h4>Web</h4>
			<p>
				<address class="t-link-container__item--blended">
					ruventhemes.com
				</address>
			</p>
		</a>
	</Contact>

	<Contact>
		<a href="mailto:hello@example.com"
		   class="t-link-container">
			<h4>Email</h4>
			<p>
				<address class="t-link-container__item--blended">
					hello@example.com
				</address>
			</p>
		</a>
	</Contact>

</div>
