<Contact>
	<a href="@Hyperlink"
	   target="_blank"
	   class="t-link-container">
		<h4>@Title</h4>
		<p>
			<address class="t-link-container__item--blended">
				@Description
			</address>
		</p>
	</a>
</Contact>

@code {
	[Parameter]
	public string Title { get; set; } = string.Empty;

	[Parameter]
	public string Description { get; set; } = string.Empty;

	[Parameter]
	public string Hyperlink { get; set; } = string.Empty;
}
