<div class="o-grid__col-sm-6">
	<a class="c-image-overlay  t-image-overlay"
	   href="@Uri"
	   title="@Title"
	   target="_blank">
		<img src="@ImageUri"
			 alt="@Title">
		<div class="c-image-overlay__content">
			<h3>
				@Title
			</h3>
			<hr class="c-image-overlay__deco-line  t-image-overlay__deco-line" />
			<p>
				@Description
			</p>
		</div>
	</a>
</div>

@code {
	/// <summary>
	/// Адрес работы.
	/// </summary>
	[Parameter]
	public Uri Uri { get; set; } = null!;

	/// <summary>
	/// Адрес картинки для предпросмотра.
	/// </summary>
	[Parameter]
	public Uri ImageUri { get; set; } = null!;

	/// <summary>
	/// Заголовок работы.
	/// </summary>
	[Parameter]
	public string Title { get; set; } = null!;

	/// <summary>
	/// Описание работы.
	/// </summary>
	[Parameter]
	public string Description { get; set; } = null!;
}
