<div class="o-section__content @AdditionalClasses t-section__content">

	@ChildContent

</div>

@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public string? AdditionalClasses { get; set; }
}
