@* Заголовок отдельной секции резюме. *@

<header class="o-section__header  t-section__header">
	<div class="o-content">

		<h2 class="o-section__heading">
			@Title
		</h2>
		<div class="o-content__body  o-section__description">
			@Description
		</div>

	</div>
</header>

@code{
	/// <summary>
	/// Заголовок секции.
	/// </summary>
	[Parameter]
	public string Title { get; set; } = null!;

	/// <summary>
	/// Дополнительное описание секции.
	/// </summary>
	[Parameter]
	public string Description { get; set; } = null!;
}
