@inherits LocalizedComponentBase

@inject IStringLocalizer<TimeLineItem> Localizer

<div class="c-timeline__item">
	<div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
	<div class="o-content">
		<div class="o-grid">
			<div class="o-grid__col-md-5">
				<div class="c-work__timeframe">
					@StartYear &ndash; @(EndYear != DateTime.UtcNow.Year ? EndYear.ToString() : @Localizer["EndYearPresent"])
				</div>
				<h3 class="c-work__heading">
					@Institution
				</h3>
				<h4 class="c-work__title">
					@Position
				</h4>
				<div class="c-work__location">
					@Location
				</div>
			</div>
			<div class="o-grid__col-md-7">
				<p>
					@Description
				</p>
			</div>
		</div>
	</div>
</div>

@code {
	// TODO: Создать отдельный компонент-контейнер для элементов и выводить их, отсортироанные по конечному году и начальному году.

	/// <summary>
	/// Год начала события.
	/// </summary>
	[Parameter]
	public int StartYear { get; set; }

	/// <summary>
	/// Год окончания события. Если не указан, то собитие считается активным.
	/// </summary>
	[Parameter]
	public int EndYear { get; set; } = DateTime.UtcNow.Year;

	/// <summary>
	/// Организация или учреждение, в котором происходило событие.
	/// </summary>
	[Parameter]
	public string Institution { get; set; } = null!;

	/// <summary>
	/// Занимаемая позиция в организации или учреждении.
	/// </summary>
	[Parameter]
	public string Position { get; set; } = null!;

	/// <summary>
	/// Местоположение организации или учреждении.
	/// </summary>
	[Parameter]
	public string Location { get; set; } = null!;

	/// <summary>
	/// Описание деятельности в организации или учреждении.
	/// </summary>
	[Parameter]
	public string Description { get; set; } = null!;
}
